@page
@model AdasPet.Areas.Loja.Pages.CarrinhoModel
@{
}

@{
    if (Model.Produtos.Count == 0)
    {
        <h3> Seu carrinho está vazio.</h3>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Produtos[0].Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Produtos[0].Marca)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Produtos[0].Preco)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Produtos[0].Descricao)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Produtos)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Marca)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Preco)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            <form method="post">                     
                                <input type="hidden" asp-for="@item.ID" /> <!-- Criamos um campo escondido que vai ter o valor do ID do produto-->
                                <button type="submit" class="btn btn-primary">
                                    Excluir
                                </button>
                            </form>
                        </td>
                    </tr>                   
                }
            </tbody>
        </table>

        <a href="~/Loja/TelaPagamento">
            <input id="Button1" type="button" value="Finalizar Compra" class="btn btn-primary" name="Finalizar Compra" />
        </a>
    }
}
