@page
@model AdasPet.Areas.Lojista.Pages.VendasModel
@{
    ViewData["Title"] = "Vendas";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].StatusDoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Pagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Produtos)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model.Pedidos.Count > 0)
    {

        @foreach (var item in Model.Pedidos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusDoPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pagamento)
                </td>
                @{ 
                    string treco = Model.GetNomeProdutos(item);
                }
                <td>
                    @Html.DisplayFor(modelItem => treco)
                </td>
            </tr>
         }
                    }
                    else
                    {
                        <h1>Não tem pedidos</h1>
                    }
</table>



@section scripts{ 
    <script type="text/javascript">
        function checaNovos() {
            $.ajax({
                type: "GET",
                url: "https://localhost:44323/Lojista/Vendas?handler=NovosPedidos",
                success: function (result) {
                    if (result == "Novos Pedidos") {
                        alert(result);
                        window.location.reload();
                    }
                }
            })
        };
        var intervalo = window.setInterval(checaNovos, 10000);
    </script>
}