@page
@using AdasPet.Models
@model AdasPet.Areas.Lojista.Pages.EntregasModel
@{
    ViewData["Title"] = "Vendas";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].StatusDoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Pagamento)
            </th>
            <th>
                @{//Html.DisplayNameFor(model => model.Pedidos[0].Produtos)
                }
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model.Pedidos.Count > 0)
    {

        @foreach (var item in Model.Pedidos)
        {
            <tr>
                @{
                    var status = Model.GetStatusProdutosFornecedor(item,Model.UserID);
                }
                <td hidden="true">@item.ID</td>
                <td>
                    @Enum.GetName(status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pagamento)
                </td>
                <td>
                    @{ var nomeProdutos = Model.GetNomeProdutos(item);}
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="produtos-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @nomeProdutos.Count Produtos
                        </button>
                        <div class="dropdown-menu" aria-labelledby="produtos-toggle">
                            @foreach (var produto in nomeProdutos)
                            {
                                <p>@produto</p>
                            }
                        </div>
                    </div>
                </td>
                @if (status == PedidoStatus.Novo)
                {
                    <td>
                        <form method="post" asp-route-pedidoId="@item.ID" asp-page-handler="Aceitar">                      
                            <button type="submit" class="btn btn-success">Aceitar</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-route-pedidoId="@item.ID" asp-page-handler="Rejeitar">                      
                            <button type="submit" class="btn btn-danger">Recusar</button>
                        </form>
                    </td>
                }
            </tr>
        }
    }
    else
    {
        <h1>Não há pedidos ainda</h1>
    }
</table>



@section scripts{
    <script type="text/javascript">
        function checaNovos() {
            $.ajax({
                type: "GET",
                url: "/Lojista/Vendas?handler=NovosPedidos",
                success: function (result) {
                    if (result == "Novos Pedidos") {
                        alert(result);
                        window.location.reload();
                    }
                }
            })
        };
        var intervalo = window.setInterval(checaNovos, 10000);
    </script>
}