@page
@model AdasPet.Areas.Identity.Pages.Account.Manage.Enderecos.IndexModel

@{
    ViewData["Title"] = "Endereços";
    ViewData["ActivePage"] = ManageNavPages.Enderecos;
}

@{
    // Gerado pelo Scaffold do razor pages
}

<h4>Endereços</h4>

<p>
    <a asp-page="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].CEP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].NumeroCasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Complemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enderecos[0].Principal)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Enderecos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CEP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Complemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Principal)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
