@page
@model AdasPet.Areas.Lojista.Pages.EntregasModel
@{
    ViewData["Title"] = "Entregas";
}

@{/*
<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].StatusDoPedido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Pagamento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pedidos[0].Produtos)
            </th>
            <th></th>
        </tr>
    </thead>
    @if (Model.Pedidos.Count > 0)
    {

        @foreach (var item in Model.Pedidos)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusDoPedido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pagamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Produtos)
                </td>
                @if (@item.StatusDoPedido == "Novo")
                {
                    <td>
                        <form method="post" asp-route-pedidoId="@item.ID" asp-page-handler="Rejeitar">                      
                            <button type="submit" class="btn bt-vm">Recusar</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" asp-route-pedidoId="@item.ID" asp-page-handler="Rejeitar">                      
                            <button type="submit" class="btn bt-vm">Recusar</button>
                        </form>
                    </td>
                }
            </tr>
        }
    }
    else
    {
        <h1>Não há pedidos ainda</h1>
    }
</table>
*/}
